.maidul{
    width: 600px;
    height: 500px;
    background-color: black;
}
.ma1{
    width: 600px;
    height: 125px;
    background-color: #f11a1a;
    display: flex;
}
.ma5{
    width: 200px;
    height: 125px;
    background-color: #1bda44;
}
.ma8{
    width: 200px;
    height: 41px;
    background-color: #16381e;
}
.ma9{
    width: 200px;
    height: 42px;
    background-color: #12e640;
    display: flex;
}
.ma11{
    width: 100px;
    height: 42px;
    background-color: #abf02c;
}
.ma12{
    width: 100px;
    height: 42px;
    background-color: #4a5243;
}
.ma10{
    width: 200px;
    height: 42px;
    background-color: #a1ecb2;
}
.ma6{
    width: 200px;
    height: 125px;
    background-color: #e70909;
}
.ma13{
    width: 200px;
    height: 62px;
    background-color: #3a0808;
    display: flex;
}

.ma15{
    width: 50px;
    height: 62px;
    background-color: #f30c0c;
}
.ma16{
    width: 100px;
    height: 62px;
    background-color: #7e0505;
}
.ma17{
    width: 50px;
    height: 62px;
    background-color: #0e6c91;
}
.ma14{
    width: 200px;
    height: 63px;
    background-color: #e4b0b0;
    display: flex;
}
.ma18{
    width: 100px;
    height: 63px;
    background-color: #0a0101;
}
.ma19{
    width: 100px;
    height: 63px;
    background-color: #865454;
}

.ma7{
    width: 200px;
    height: 125px;
    background-color: #d30bb8;
}
.ma20{
    width: 200px;
    height: 32px;
    background-color: #0bd326;
}
.ma21{
    width: 200px;
    height: 60px;
    background-color: #6e2064;
}
.ma22{
    width: 200px;
    height: 33px;
    background-color: #d3d00b;
}

.ma2{
    width: 600px;
    height: 125px;
    background-color: #3c07cf;
    display: flex;
}
.ma23{
    width: 150px;
    height: 125px;
    background-color: #89cf07;
}
.ma27{
    width: 150px;
    height: 62.5px;
    background-color: #cf079d;
}
.ma28{
    width: 150px;
    height: 62.5px;
    background-color: #e79ae3;
}
.ma24{
    width: 150px;
    height: 125px;
    background-color: #f07808;
}
.ma29{
    width: 150px;
    height: 30px;
    background-color: #3f2e09;
}
.ma30{
    width: 150px;
    height: 65px;
    background-color: #eb0e0e;
}
.ma31{
    width: 150px;
    height: 30px;
    background-color: #b3ec13;
}
.ma25{
    width: 150px;
    height: 125px;
    background-color: #07cf43;
}
.ma32{
    width: 150px;
    height: 63px;
    background-color: #4607f5;
}
.ma33{
    width: 150px;
    height: 62px;
    background-color: #0e0529;
    display: flex;
}
.ma34{
    width: 75px;
    height: 62px;
    background-color: #0ceca9;
}
.ma35{
    width: 75px;
    height: 62px;
    background-color: #082905;
}
.ma26{
    width: 150px;
    height: 125px;
    background-color: #cf07b4;
}
.ma3{
    width: 600px;
    height: 125px;
    background-color: #9fe2dd;
    display: flex;
}
.ma36{
    width: 205px;
    height: 125px;
    background-color: #1e0fe4;
}
.ma37{
    width: 220px;
    height: 125px;
    background-color: #0bf3e4;
}
.ma38{
    width: 175px;
    height: 125px;
    background-color: #141414;
}
.ma4{
    width: 600px;
    height: 125px;
    background-color: #0ad64e;
    display: flex;
}
.ma39{
    width: 280px;
    height: 125px;
    background-color: #e67dbd;
}
.ma40{
    width: 320px;
    height: 125px;
    background-color: #f00a0a;
}